@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');

@font-face {
    font-family:'Exo 2', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap);
}
body{
    font-family:'Exo 2', sans-serif;
}
button{
    font-family:'Exo 2', sans-serif;
}
input{
    font-family:'Exo 2', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap);
}